.about-me{
    margin: 0 4rem;
}

.about-me .image-about-me{
    max-width: 40%;
    padding: 0 1.5rem;
}

.about-me .image-about-me .img-box{
    padding: 1.5rem;
    border-radius: 2rem;
    text-align: center;
}

.about-me .image-about-me img{
    border: 1rem solid transparent;
    border-radius: 2rem;
}

.about-me .info-about-me {
    max-width: 60%;
    font-family: var(--primary-font);
    color: var(--color-white);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px var(--primary-color);
    background-color: var(--background-color-medium);
    
}

.about-me .info-about-me p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.about-me .info-about-me .btn{
    margin-top: 5rem;
}

.info-about-me .btn-link {
    font-family: var(--secondary-font);
    font-size: var(--font-big);
    padding: 1rem 2rem;
    border-radius: 2rem 5rem;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
}

.info-about-me .btn-link:hover{
    background-color: var(--neutral-soft-color);
    color: var(--color-white);
}

@media(max-width: 980px){
    .about-me .row {
        justify-content: center;
    }
    
    .about-me .image-about-me {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 5rem;
    }

    .about-me .info-about-me {
        max-width: 100%;
        padding: var(--mobile-padding);
        text-align: center;
    }
}