.sobre-mim .imagem-sobre-mim{
    max-width: 40%;
    padding: 0 1.5rem;
}

.sobre-mim .imagem-sobre-mim .img-box{
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

.sobre-mim .imagem-sobre-mim img{
    border: 1rem solid transparent;
    border-radius: 0.5rem;
}

.sobre-mim .info-sobre-mim {
    max-width: 50%;
    padding: 0 2.5rem;
    background-color: tomato;
}

.sobre-mim .info-sobre-mim .btn{
    margin-top: 5rem;
}

.sobre-mim .info-sobre-mim p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

@media(max-width: 980px){
    .sobre-mim .row {
        justify-content: center;
    }
    
    .sobre-mim .imagem-sobre-mim {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 5rem;
    }

    .sobre-mim .info-sobre-mim {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        text-align: center;
    }
}