/* fontes */

html{
    font-size: 62.5%;
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color-medium);
    /* font-family: ; */
    font-size: var(--font-normal);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.social a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    text-align: center;
    color: var(--color-white);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.social a:hover{
    color: var(--primary-color);
}

.social a i {
    line-height: 4rem;
}