@font-face {
    font-family: 'endgame';
    src: url(../fonts/Endgame\ DEMO.otf);
}

html{
    font-size: 62.5%;
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color-medium);
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--font-normal);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.social a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    text-align: center;
    color: var(--color-white);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.social a:hover{
    color: var(--secondary-color);
}

.social a i {
    line-height: 4rem;
}

.outter-shadow{
    box-shadow: 3px 3px 2px var(--primary-color), -1px -1px 10px var(--primary-color);
}

.inner-shadow{
    box-shadow: inset 3px 3px 3px var(--secondary-color), inset -3px -3px 3px #454545; 
}
  /* não arrumei daqui para baixo */
.section {
    padding: 7rem 0 7rem;
}

.section-title{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 6rem 0;
}

.section-title h2{
    font-size: var(--font-extra-big);
    text-transform: uppercase;
}

.btn-link {
    font-size: var(--font-big);
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
}

.btn-link:hover{
    background-color: var(--secondary-color);
    color: var(--color-white);
}