/* fontes */

html{
    font-size: 62.5%;
    font-weight: 300;
}

body{
    background-color: var(--background-color-medium);
    /* font-family: ; */
    font-size: var(--font-normal);
}

.row{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}