.skills .container-skills{
    text-align: center;
    justify-content: center;
}

.skills .container-skills .skill{
    max-width: 35rem;
    padding: 4rem 2rem;
}

.skills .container-skills .skill p,
.skills .container-skills .skill h3,
.skills .container-skills .skill .skill-logo i{
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.skills .container-skills .skill h3{
    color: var(--primary-color);
    font-size: var(--font-big);
    font-weight: 500;
    margin-bottom: 2rem;
}

.skills .container-skills .skill p{
    font-size: 1.8rem;
    color: var(--color-white);
    font-family: var(--primary-font);
}

.skills .container-skills .skill .skill-logo i{
    font-size: 8rem;
    color: var(--secondary-color);
}