:root{
    --color-white: #fff;
    --primary-color: #43bd8e;
    --secondary-color: #FD6C22;
    --background-color-dark: #040203;
    --background-color-medium: #282828;
    --background-color-soft: #353535;
}

:root{
    --primary-font: 'Poppins', sans serif;
    --secondary-font: 'releway', sans serif;
    --font-extra-big: 4.5rem;
    --font-big: 3rem;
    --font-medium: 2.4rem;
    --font-normal: 1.6rem;
}