:root{
    --color-white: #fff;
    --primary-color: #3d6fab;
    --secondary-color: #76de62;
    --background-color-dark: #040203;
    --background-color-medium: #1b1b1b;
    --neutral-soft-color: #353535;
}

:root{
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'endgame', sans-serif;
    --font-extra-big: 4.5rem;
    --font-big: 3rem;
    --font-medium: 2.4rem;
    --font-normal: 1.6rem;
}

:root{
    --mobile-padding: 3rem
}