:root{
    --color-white: #fff;
    --primary-color: #3b6190;
    --secondary-color: #76de62;
    --background-color-dark: #040203;
    --background-color-medium: #282828;
    --background-color-soft: #353535;
}

:root{
    --primary-font: 'endgame', sans-serif;
    --secondary-font: 'Space Grotesk', sans-serif;
    --font-extra-big: 4.5rem;
    --font-big: 3rem;
    --font-medium: 2.4rem;
    --font-normal: 1.6rem;
}

:root{
    --mobile-padding: 3rem
}